name: netcdf_hdf5_no_pnetcdf_ncint_mpich
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      CPPFLAGS: "-I${GITHUB_WORKSPACE}/mpich/include"
      LDFLAGS: "-L${GITHUB_WORKSPACE}/mpich/lib "
      # Note issue https://github.com/NCAR/ParallelIO/issues/1889 netcdf integration currently only works with netcdf 4.7.4
      NETCDF_C_VERSION: v4.7.4
      NETCDF_FORTRAN_VERSION: v4.5.4
      MPICH_VERSION: v4.0.3
      HDF5_VERSION: hdf5_1_12_2
      FFLAGS: "-fallow-argument-mismatch"
      FCFLAGS: "-fallow-argument-mismatch"
    steps:
    - uses: actions/checkout@v3
    - name: Installs
      run: |
        sudo apt-get install doxygen graphviz wget gfortran libjpeg-dev libz-dev
    - name: cache-mpich
      id: cache-mpich
      uses: actions/cache@v3
      with:
        path: ~/work/ParallelIO/ParallelIO/mpich
        key: mpich-${{ runner.os }}-${{ env.MPICH_VERSION }}

    - name: build-mpich
      if: steps.cache-mpich.outputs.cache-hit != 'true'
      uses: ./.github/actions/buildmpich
      with:
        install_prefix: ${GITHUB_WORKSPACE}/mpich
        mpich_version: ${{ env.MPICH_VERSION }}

    - name: cache-hdf5
      id: cache-hdf5
      uses: actions/cache@v3
      with:
        path: ${GITHUB_WORKSPACE}/hdf5
        key: hdf5-${{ runner.os }}-${{ env.HDF5_VERSION }}-mpich-${{ env.MPICH_VERSION }}

    - name: build-hdf5
      if: steps.cache-hdf5.outputs.cache-hit != 'true'
      uses: ./.github/actions/buildhdf5
      with:
        install_prefix: $GITHUB_WORKSPACE/hdf5
        enable_parallel: True
        hdf5_version: ${{ env.HDF5_VERSION }}
        mpi_path: $GITHUB_WORKSPACE/mpich

    - name: cache-netcdf
      id: cache-netcdf
      uses: actions/cache@v3
      with:
        path: ~/netcdf
        key: netcdf-${{ runner.os }}-${{ env.NETCDF_C_VERSION }}-${{ env.NETCDF_FORTRAN_VERSION }}-mpich-${{ env.MPICH_VERSION }}-hdf5-${{ env.HDF5_VERSION }}
    - name: Prep Netcdf
      run: |
        export CPPFLAGS="$CPPFLAGS -I${GITHUB_WORKSPACE}/hdf5/include"
        export LDFLAGS="$LDFLAGS -L${GITHUB_WORKSPACE}/hdf5/lib -lhdf5 "
        printenv >> $GITHUB_ENV
      
        
    - name: build-netcdf-c
      if: steps.cache-netcdf.outputs.cache-hit != 'true'
      uses: ./.github/actions/buildnetcdf
      with:
        netcdf_version: ${{ env.NETCDF_C_VERSION }}
        install_prefix: ${GITHUB_WORKSPACE}/netcdf

    # - name: cache-netcdf-fortran
    #   id: cache-netcdf-fortran
    #   uses: actions/cache@v3
    #   with:
    #     path: ~/netcdf-fortran
    #     key: netcdf-fortran-${{ runner.os }}-${{ env.NETCDF_FORTRAN_VERSION }}-mpich-${{ env.MPICH_VERSION }}-hdf5-${{ env.HDF5_VERSION }}

    - name: Build NetCDF Fortran
      if: steps.cache-netcdf-fortran.outputs.cache-hit != 'true'
      uses: ./.github/actions/buildnetcdff
      with:
        netcdf_fortran_version: ${{ env.NETCDF_FORTRAN_VERSION }}
        install_prefix: ${GITHUB_WORKSPACE}/netcdf
        netcdf_c_path: ${GITHUB_WORKSPACE}/netcdf

    # - name: Build ParallelIO with autotools
    #   uses: ./.github/actions/parallelio_autotools
    #   with:
    #     enable_fortran: True
    #     with_netcdf_integration: True
    #     with_mpiexec: 'mpiexec --oversubscribe'
    #     parallelio_version: ${{ env.GITHUB_SHA }}
    # - name: make check
    #   run: |
    #     cd $GITHUB_WORKSPACE/parallelio-src   
    #     make -j check
        
        
